*{
    padding: 0%;
    margin: 0%;
}
html,body{
   height: 100%;
   width: 100%; 
}

#main{
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center;
  */
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 320px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgb(245, 218, 12) ;
    overflow: hidden;
}
#card1{
    z-index: 5;
}

#card2{
    z-index: 4;
   rotate: -8deg  ; 
   background: #ed6e6e;
   
}

#card3{
    z-index: 3;
    rotate: -16deg ;
    background: #99ea53;

}

#card4{
    z-index: 2;
    rotate: -24deg  ;
    background: #6fd7db;
} 
/* you can use z index to change the order of the cards */
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card1:hover{
    z-index: 40;
}
#card2:hover{
    z-index: 40;
}
#card3:hover{
    z-index: 40;
}
#card4:hover{
    z-index: 40;
}